/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : Élodie Lajeunesse
 * Date : 1 février 2026

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Italiana', static;
  /* Changez pour votre choix de police de caractères de Google Fonts*/
  font-size: 18px;
  line-height: 1.6;
  color: #2b2b2b;
  /* Ajutez avec votre couleur de texte principale */
  background-color: #f8f5f0;
  /* Ajutez avec votre couleur de fond principale */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 28px;
  text-align: center;
  color: #7a1f1f;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.prix {
  font-weight: bold;
  color: #b08d57;
  font-size: 16px;
  margin-left: 700px;
}

ul {
  list-style: none;
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */